<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
    <h1>Book</h1>
    <div>
            <h4 th:text =  "${book.title}">Title: </h4>
            <p th:text = "${book.author.name}">Author name: </p>
            <p th:text = "${book.author.surname}" >Author surname: </p>
            <p th:text = " ${book.status}" >Status: </p>
            <p th:text = "${book.isbn}" >ISBN: </p>
            <p th:text = "${book.releaseDate}" >Release date: </p>
            <p th:text = "${book.description}" >Description: </p>
    </div>

</body>
</html>