<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add or Update book</title>
</head>
<body>
<h2>Add new Book</h2>
<form th:action="@{/books}" method = "post" th:object ="${book}">

    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
        <label class="form-label" for="name">Title</label>
        <input class="form-control item" th:field="*{title}" type="text" id="title">
    </div>
    <div class="mb-3">
        <label class="form-label" for="surname">Author name</label>
        <input class="form-control item" th:field="*{author.name}" type="text" id="name" >
    </div>
    <div class="mb-3">
        <label class="form-label" for="surname">Author surname</label>
        <input class="form-control item" th:field="*{author.surname}" type="text" id="surname" >
    </div>
    <div class="mb-3">
        <label class="form-label" >ISBN</label>
        <input class="form-control" th:field="*{isbn}" type="text" id="isbn">
    </div>
    <div class="mb-3">
        <label class="form-label" >Description</label>
        <input class="form-control" th:field="*{description}" type="text" id="description">
    </div>
    <div class="mb-3">
        <label class="form-label">Status</label>
        <select class="form-select" required th:field="*{status}">
            <optgroup label="Choose status">
                <option value="AVAILABLE" selected="">Available</option>
                <option value="Borrowed">Borrowed</option>
            </optgroup>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Release date</label>
        <input class="form-control" th:field="*{releaseDate}" type="date">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>


    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </ul>
    </div>
</form>

</body>
</html>