<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
</head>
<body>
    <h1>List of books</h1>
    <table class = "table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date Released</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="book : ${books}">
            <tr>
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.getAuthor().name}"></td>
                <td th:text="${book.releaseDate}"></td>
                <td th:text="${book.status}"></td>
                <td><a href="#" th:href="@{'/books/' + ${book.id} + '/update'}">Update</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a href="#" th:href="@{'/books/new'}">Add new book </a>
    <a href="#" th:href="@{'/books/sortByAuthor'}">Sort By Author</a>
    <a href="#" th:href="@{'/books/sortByTitle'}">Sort By Title</a>
    <a href="#" th:href="@{'/books/sortByDate'}">Sort By Date</a>

</body>
</html>